body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.gender label {
    margin-right: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 16px); 
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

#calculateButton {
    background-color: #ff6600; 
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#calculateButton:hover {
    background-color: #ff8533; 
}

.results {
    margin-top: 20px;
    text-align: center;
}

.results h1 {
    margin: 10px 0;
    color: #ff5722;
}

.results div {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.results div p {
    margin: 5px 0;
}

#initialMessage {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
    margin-bottom: 20px; 
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
